vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Nov 2010 09:43:00 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|15 Nov 2010 09:43:00 -0000
vti_filesize:IR|5609
vti_cachedlinkinfo:VX|S|../images/ms_info.png S|../images/ms_info.png S|../images/ms_info_bg.png S|../images/ms_success.png S|../images/ms_success.png S|../images/ms_success_bg.png S|../images/ms_warning.png S|../images/ms_warning.png S|../images/ms_warning_bg.png S|../images/ms_error.png S|../images/ms_error.png S|../images/ms_error_bg.png
vti_cachedsvcrellinks:VX|FSUS|osc/admin/images/ms_info.png FSUS|osc/admin/images/ms_info.png FSUS|osc/admin/images/ms_info_bg.png FSUS|osc/admin/images/ms_success.png FSUS|osc/admin/images/ms_success.png FSUS|osc/admin/images/ms_success_bg.png FSUS|osc/admin/images/ms_warning.png FSUS|osc/admin/images/ms_warning.png FSUS|osc/admin/images/ms_warning_bg.png FSUS|osc/admin/images/ms_error.png FSUS|osc/admin/images/ms_error.png FSUS|osc/admin/images/ms_error_bg.png
vti_backlinkinfo:VX|
